<h2>Available Pizza Toppings</h2>
<div
    *ngFor="let pizzaTopping of availablePizzaToppings"
>
    <!--Nesting the properties inside the label 
        Allows entire line to be clicked to check/uncheck -->
    <label>
        <input type="checkbox"
        [(ngModel)]="pizzaTopping.checked"
        />
        {{pizzaTopping.name}}  ({{pizzaTopping.price | currency}})
    </label>
</div>
<br>
<button
    (click)="calculateTotal()"
> 
    Calculate Total 
</button>
<h3>
    Total: {{ totalPrice | currency}}
</h3>