<app-pizza-toppings></app-pizza-toppings>
<app-tjs-multiplication></app-tjs-multiplication>
<app-ra-calculator></app-ra-calculator>
<app-alm-additional></app-alm-additional>
<app-bsan-math></app-bsan-math>
<app-arice-addition></app-arice-addition>
<app-snahn-division></app-snahn-division>
<app-dh-coupon></app-dh-coupon>
<app-smf-tip-calculator></app-smf-tip-calculator>
<app-dmey-multiply></app-dmey-multiply>
<app-alperen-addition></app-alperen-addition>
<app-rlee-adding></app-rlee-adding>
<app-rv-multiplication></app-rv-multiplication>
<app-dest-component></app-dest-component>
<app-rb-subtraction></app-rb-subtraction>
<app-spatel-operation></app-spatel-operation>
