<mat-card>
    <mat-card-title>
        Brittany Tip Calculator 
    </mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>
                    Bill Total
            </mat-label>
            <input  
                matInput 
                type="number"
                [(ngModel)]="numberTotal"
            />
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>
                Tip (Enter Tip in Decimal .10, Ect)
            </mat-label>
            <input  
                matInput 
                type="number"
                [(ngModel)]="numberTip"
            />
        </mat-form-field>
        &nbsp;
        <button 
        mat-raised-button
        color="warn"
        (click)="totalWithTip()"
    >
        Calulate Total
    </button>
        {{ total }}
    </mat-card-content>
</mat-card>