<mat-card>
    <mat-card-title>
        Alperen's Addition Component
    </mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>
                First Number
            </mat-label>
            <input type="number"
            matInput
            >
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>
                Second Number
            </mat-label>
            <input type="number"
            matInput
            >
        </mat-form-field>
    </mat-card-content>
</mat-card>
